@using GigaKino.ObjectsDTO
@model IEnumerable<GigaKino.ObjectsDTO.RepertuarItemDTO>
@{
    ViewData["Title"] = "Repertuar";
}
@section Head{
    <meta name="viewport" content="width=device-width" />
    <title>Repertuar</title>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/repertuar_style.css">
    <script src="~/js/function.js" defer></script>
    <script src="~/js/repertuar_fun.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#gatunek-select').on('change', function () {
                var selectedTechnology = $(this).val();

                $('.movie').each(function () {
                    var movie = $(this);
                    var show = false;

                    movie.find('.showtimes button').each(function () {
                        var button = $(this);
                        var buttonText = button.text();
                        if (buttonText.includes(selectedTechnology)) {
                            button.parent().show();
                            show = true;
                        } else {
                            button.parent().hide();
                        }
                    });

                    if (show) {
                        movie.show();
                    } else {
                        movie.hide();
                    }
                });
            });
        });
    </script>
}

<section class="location">
    <img src="~/img/map.png" alt="Icon">
    <select name="lokalizacja" id="lokalizacja-select">
        <option value="wroclawia">Wrocław - Wroclavia</option>
        <option value="pasaz">Wrocław - Pasaż</option>
        <option value="katowice">Katowice</option>
using GigaKino.ObjectsDTO;
    </select>
</section>
<div class="date-selection">
    <div id="weekdays">
        <a class="day">Dziś</a>
        <a class="day">Nd</a>
        <a class="day">Pn</a>
        <a class="day">Wt</a>
        <a class="day">Śr</a>
        <a class="day">Cz</a>
        <a class="day">Pt</a>
    </div>
    <label for="date-input" class="date-label">
        <input type="date" id="date-input">
    </label>
    @{
        var uniqueTechnologies = Model.SelectMany(film => film.ListaWersjiTechnologicznych)
            .Select(tech => tech.Wersja)
            .Distinct()
            .ToList();
    }
        <select name="gatunek" id="gatunek-select">
            <option value="0">Rodzaj seansu</option>
        @foreach (var tech in uniqueTechnologies)
        {
            <option value="@tech">@tech</option>
        }
    </select>
</div>
<label id="dzisiaj"></label>
<section class="movies">
    @if (Model != null)
    {
        foreach (var Film in Model)
        {
            <article class="movie">
            <img src="@Film.PosterPath" alt="poster">
            <div class="details">
                <h2>@Film.Tytul</h2>
            <p>@Film.Gatunek | @Film.Ogr_wiekowe | @Film.Dlugosc</p>
            <div class="showtimes">
                    @foreach (var Technology in Film.ListaWersjiTechnologicznych)
                {
                    
                    @foreach (var lang in Technology.ListaWersjiJezykowych)
                    {
                        @foreach (var screening in lang.ListaSeansow)
                        {
                            <a asp-area="" asp-controller="Home" asp-action="StronaTestowa2" asp-route-idSeans="@screening.IdSeans">
                                <button>@screening.Termin.ToString("HH:mm")<br />@Technology.Wersja, @lang.Wersja</button>
                            </a>
                            @* <a href="@Url.Action("StronaTestowa2", "Home", new { id = screening.IdSeans })">
                                 <button>@screening.Termin.ToString("HH:mm")<br />@Technology.Wersja, @lang.Wersja</button>
                            </a> *@
                        }
                    }
                    
                }
                </div>
            </div>
            </article>
        }
    }
    else
    {
        <p>Brak dostępnych filmów.</p>
    }
</section>