@using GigaKino.ObjectsDTO
@model GigaKino.ViewModels.SeansViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GigaKino_bilety</title>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bilety_style.css">
    <!--<script src="~/js/bilety_fun.js" defer></script>-->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            
            const decreaseBtn = document.getElementById('decrease');
            const increaseBtn = document.getElementById('increase');
            const quantityInput = document.getElementById('quantity');
            const nextBtn = document.getElementById('nextBtn');
            const freeSeatsCount = parseInt(document.getElementById('freeSeatsCount').value);

            decreaseBtn.addEventListener('click', () => {
                let currentValue = parseInt(quantityInput.value);
                if (!isNaN(currentValue) && currentValue > 0) {
                    quantityInput.value = currentValue - 1;
                }
            });

            increaseBtn.addEventListener('click', () => {
                let currentValue = parseInt(quantityInput.value);
                if (!isNaN(currentValue) && currentValue < freeSeatsCount) {
                    quantityInput.value = currentValue + 1;
                }
            });

            quantityInput.addEventListener('input', () => {
                let value = parseInt(quantityInput.value);
                if (isNaN(value) || value < 0) {
                    quantityInput.value = 0;
                } else if (value > freeSeatsCount) {
                    quantityInput.value = freeSeatsCount;
                }
            });

            nextBtn.addEventListener('click', () => {
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 0) {
                    // Замените 'your-next-page.html' на URL вашей следующей страницы
                    window.location.href =`/api/Sala/Sala?idSeans=@Model.Seans.IdSeans&quantity=${currentValue}`;
                } else {
                    alert('Nie wybrano ilości biletów.');
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="container">
            <div class="text-container">
                <h1>GigaKino</h1>
            </div>
        </div>
        <ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Filmy</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Repertuar">Repertuar</a>
            </li>
        </ul>
    </header>
    <main class="outer-container">
<div class="movie-details">
    <img src="@Model.Film.PosterPath" alt="Movie Poster" class="poster">
    <div class="details">
        <h2>@Model.Film.Tytul</h2>
        <p class="opis">@Model.Film.Gatunek | od @Model.Film.Ogr_wiekowe lat | @Model.Film.Dlugosc min</p>
        <p class="opis">@Model.Seans.Termin.ToString("dddd dd.MM.yyyy")<br>@Model.Kino.Nazwa, Sala @Model.Sala.Numer</p>
        <p class="seans">@Model.Seans.Termin.ToString("HH:mm"), @Model.Seans.Technologia, @Model.Seans.WersjaJezykowa</p>
    </div>
</div>
        <!--<h2>Available Seats</h2>
        <table>
            <thead>
                <tr>
                    <th>Rząd</th>
                    <th>Kolumna</th>
                    <th>idMiejsca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var miejsce in Model.Miejsca)
                {
                    <tr>
                        <td>@miejsce.Rzad</td>
                        <td>@miejsce.Kolumna</td>
                        <td>@miejsce.IdMiejsce</td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>Bilety</h2>
        <table>
            <thead>
                <tr>
                    <th>idBilet</th>
                    <th>idMiejsca</th>
                    <th>idSeans</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bilet in Model.Bilet)
                {
                    <tr>
                        <td>@bilet.IdBilet</td>
                        <td>@bilet.IdMiejsce</td>
                        <td>@bilet.IdSeans</td>
                    </tr>
                }
            </tbody>
        </table>-->
        <!--<h2>Wolne miejsca</h2>
        <p><strong>Całkowita liczba wolnych miejsc:</strong> @Model.FreeMiejscaCount</p>-->
        <input type="hidden" id="freeSeatsCount" value="@Model.FreeMiejscaCount" />

        <!--<table>
            <thead>
                <tr>
                    <th>Rząd</th>
                    <th>Kolumna</th>
                    <th>idMiejsca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var miejsce in Model.Miejsca)
                {
                    <tr>
                        <td>@miejsce.Rzad</td>
                        <td>@miejsce.Kolumna</td>
                        <td>@miejsce.IdMiejsce</td>
                    </tr>
                }
            </tbody>
        </table>-->
<div class="tickets">
    <h2>Wybierz bilet</h2>
    <div class="ticket-selector">
        <table>
            <thead>
                <tr>
                    <th>Rodzaj</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>NORMALNY</strong></td>
                    <td>@Model.Seans.CenaDomyslna zł</td>
                    <!--<td>29.90 zł</td>-->
                    <td>
                        <button class="quantity-btn" id="decrease">-</button>
                        <input type="text" value="0" class="quantity-input" id="quantity">
                        <button class="quantity-btn" id="increase">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
            <a asp-area="" asp-controller="Home" asp-action="Repertuar">
                <button class="back-btn">Wstecz</button>
            </a>
                    <button class="next-btn" id="nextBtn">Wybierz miejsca</button>
        </div>
    </div>
</div>
    </main>
</body>
</html>